{% extends "base.html" %}
{% from "auth/_formshelper.html" import render_field %}

{% block content %}

    {% include 'alert_messages.html' %}

    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <h2 class="text-center mb-3">Портал в закулисье</h2>

            <div class="bg-info clearfix">
                <a href="{{ url_for('login') }}"><img class="btn btn-secondary float-right" src="{{ url_for('static', filename='/icons/yandex.png') }}"></a>
            </div>
            <br><br>

            <form class="needs-validation" method="POST" novalidate>
                {{ form.csrf_token }}

                <div class="form-group row">
                    {{ render_field(form.nickname, class='form-control') }}
                </div>
                <div class="form-group row">
                    {{ render_field(form.password, class='form-control') }}
                </div>
                <div class="form-group row">
                    {{ render_field(form.recaptcha, class='form-control') }}
                </div>
                <div class="float-right">
                    <input type=submit value=Войти class="btn btn-outline-success btn-block">
                </div>
            </form>
        </div>
    </div>
{% endblock %}