{% extends "base.html" %}

{% block content %}

    {% set profile=True %}
    {% include 'alert_messages.html' %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Удаление аккаунта. Уверены?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Удаление аккаунта необратимо. Вместе с аккаунтом удаляется сформированная персональная коллекция.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary">Удалить</button>
                </div>
            </div>
        </div>
    </div>


    <div>

        <br>
        <h1 class="display-4">
            {{ current_user.nickname }}<small class="text-muted">{% if current_user.isadmin %} администратор{% else %}
            пользователь{% endif %}</small>
        </h1>
        <ul class="list-inline">
            <!-- <li class="list-inline-item"><a href="">Переименовать</a></li>
            <li class="list-inline-item"><a href="">Изменить пароль</a></li> -->
            <li class="list-inline-item">

                <a href="#" class="text-danger" data-toggle="modal" data-target="#staticBackdrop" role="button">Удалить
                    аккаунт</a>

            </li>
        </ul>

    </div>

    <br><br>
    <p class="h4">Персональная подборка</p>

    <div class="row mt-3">
        <div class="col-12">

            {% set cnt = namespace(card = False) %}

            {% if not current_user.content_id.all()|length() %}
                <p>Ничего нет</p>
            {% endif %}

            {% for link in current_user.content_id.all() %}

                {% if loop.changed(link.types_id) %}
                    {% if cnt.card %}</div>{% endif %}
                    <h3><span class="green_color">{{ types[link.types_id]|title }}</span></h3><br>
                    <div class="row row-cols-1 row-cols-md-4">
                    {% set cnt.card = True %}
                {% endif %}

                {% include 'post_item.html' %}

            {% endfor %}
            </div>
        {# Закрытие последней группы карточек #}

    </div>
    </div>



{% endblock %}