# git rm -r --cached app/__pycache__/* - удаление каталога в репозитории, но сохранение локальной копии.
# git rm --cached file1.txt - тоже самое в отношении файла.
.vscode/
/venv*
venv_note/
app/__pycache__/*
app/logs/
passenger_wsgi.py
libprak.fsgi
lib_prak.code-workspace
.env

__pycache__/*
_sources/
tmp/
libprakt.log
app/logs/get_screen.log
*.log
_bav/
logs/

# временное отключение
app/datebase.py
app/static/
migrations/*
.idea/*