@charset "utf-8";
/* CSS Document */

html, body {
    /*background-color: rgb(242, 240, 233);*/
	/*background-color: black;*/
	background-color: white;
	font-family: 'Inter', sans-serif;
    font-size: 120%;
    font-weight: normal;
    text-align: center;
	color:black;
	height: 100%;
}

#heads {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

#divcons {
	height: 100%;
}

#console {
	/*border: 1px solid #a52a2a;*/
	border-color: white;
	width: 100%;
	height: 60%;
	text-align: left;
	vertical-align: bottom;
	padding-left: 10%;
	padding-right: 10%;
}

#input {
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
}

.inputdesign {
	outline: none;
	height: 30px;
	border:none;
	background-color:navy;
	color: yellow;
	width: 100%;
	letter-spacing: 1px;
	font-size: 100%;
}

ul, li {
	margin: 10px 10px; /*расстояние между пунктами по ширине*/
  }

#helpus {
	
	color: gray;
	font-weight: normal;
	font-size: smaller;
}

#hehe {
	color: chocolate;
}

.outputs {
	line-height: 1.6;
	font-size: 90%;
}

#urldb {
	color: black;
	font-weight: normal;
}

/* МОБИЛЬНАЯ ВЕРСИЯ НАСТРОЙКИ */
#mobinput {
	text-align: center;
	height: 10%;
	padding-top: 30px;
}

#mobhelp {
	text-align: left;
	font-size: 60%;
	padding-top: 60px;
	padding-left: 40px;
}

.mobutton {
	border: none;
    cursor:pointer;
    display:block;
    height:70px;
    width:320px;
	font-size: 120%;
    /* background-image:url('/static/img/buttons.png'); */
	background-repeat:no-repeat;
	background-color: #32CD32;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	
}

.mobinputdesign {
	outline: none;
	height: 90px;
	border:none;
	background-color: #00BFFF;
	color: black;
	width: 97%;
	letter-spacing: 1px;
	font-size: 200%;
	
}

.mobcontainer {
	text-align: left;
	font-size: 160%;
	padding-left: 20px;
	padding-bottom: 20px;
}