@charset "utf-8";
/* CSS Document */

/* html, body {
	background-color: white;
	font-family: 'Inter', sans-serif;
    font-size: 110%;
    font-weight: normal;
    text-align: center;
	color:black;
	padding: 0 5%;
} */

h3 {
	color: yellowgreen;
}
