{# добавление и редактирование записей в БД #}

<form class="needs-validation" method="post" novalidate>

    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="form-group row">
        {{ render_field(form.name, class='form-control') }}
    </div>

    <div class="form-group row">
        {{ render_field(form.url, class='form-control') }}
    </div>

    <div class="form-group row">
        {{ render_field(form.lang, class='form-control') }}
    </div>

    <div class="form-group row">
        {{ render_field(form.category, class='form-control') }}
    </div>

    <div class="form-group row">
        {{ render_field(form.types, class='form-control') }}
    </div>
    <div class="float-right">
        <button type=submit class="btn btn-outline-success">Создать</button>
    </div>

</form>