{# Вывод базы данных #}

<div class="row justify-content-center mt-5">
    <div class="col-9">
        <h2 class="text-center mb-3">База данных</h2>

        <p>Записей: {{ db|length() }}</p>

        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Ссылка</th>
                <th scope="col">Язык</th>
                <th scope="col">Подписки</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            {% for string in db %}

                <tr>
                    <th scope="row">{{ string.id }}</th>
                    <td>{{ string.name }}</td>
                    <td><a href="{{ string.url }}">{{ string.url }}</a></td>
                    <td>{{ string.lang }}</td>
                    <td>{% if string.user_id.count() > 0 %}{{ string.user_id.count() }}{% endif %}</td>
                    <td>
                        <a class="btn btn-danger" href="{{ url_for('delete_from_bd', idn = string.id) }}" role="button">Удалить</a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>
</div>