{% extends 'base.html' %}
{% from 'auth/_formshelper.html' import render_field %}

{% block content %}

    <div class="container">
        {% set dbpanel=True %}
        {% include 'dbpanel/menu.html' %}
    </div>

    {% include 'alert_messages.html' %}

    <div class="row justify-content-center mt-5">
        <div class="col-9">
            <h2 class="text-center mb-3">Добавление записи...</h2>

            {% include 'dbpanel/db_add_edit.html' %}

        </div>
    </div>

    {% include 'dbpanel/db_feed.html' %}

{% endblock %}