{% extends "bootstrap/base.html" %}

{% block title %}ЯП:4 Library {{title}}{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {{super()}}
    {{fixes.ie8()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='design.css')}}">
{% endblock %}

{% block navbar %}
{% endblock %}

<div class="container">
    <div class="row">
        {% block content %}
            {# Основное содержание страницы #}
        {% endblock %}
    </div>
</div>
{% import "bootstrap/google.html" as google %}
{% block scripts %}
  {{super()}}
  {{google.uanalytics('UA-163374186-1')}}
{% endblock %}