{% extends "base.html" %}

{% block content %}
	<!-- работа с мобильной версией -->
	{% if request.MOBILE %}
	<form id="mobinput" action="/" method="GET">
		{{ form.chatstring(class_="mobinputdesign") }}
		<br><br>
		{{ form.submit(class_="mobutton") }}
	</form>
	<br><br>
	<div class="mobcontainer">
	{% if output %}
		{{ output|safe }}
	{% endif %}
	</div>

	{% else %}
	<div id="divcons">
		<table id = "console">
		<tr valign="top" height="60%">
			<th>
				{% if output %}
					<p>{{ output|safe }}</p>
				{% endif %}
			</th>
		</tr>
		<tr valign="middle">
			<th>
				{% if help %}
					{{ help|safe }}
				{% else %}
					<p></p>
				{% endif %}				
			</th>	
		</tr>
		</table>
		<form id="input" action="/" method="GET">

			{{ form.chatstring(class_="inputdesign") }}

		</form>
	</div>

	{% endif %}
{% endblock %}