{% extends "base.html" %}

{% block content %}

    <div>
        <div class="category_links">
            Категории: 
            {% for category_link in category_links %}
                <a href= {{ url_for('index', chatstring=category_link.lower()) }}>{{ category_link }}</a>
            {% endfor %}
        </div>

        <div class="tags_links">
            {% if tag_links %}
            Тэги: 
                {% for tag_link in tag_links %}
                    <a href= {{ url_for('index', tagstring=tag_link.lower()) }}>{{ tag_link }}</a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="output">
            {% if output %}
                {{ output|safe }}
            {% endif %}
        </div>
    </div>

{% endblock %}


















	
