<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <a class="navbar-brand" href="/">ЯП:4 Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
          {% if not exoutput %}
             {% set exoutput = '' %}
          {% endif %}

          {% if not category_links %}
             {% set category_links = list_category %}
          {% endif %}

        {% for category_link in category_links %}
        <li class="nav-item mr-1">
          {% if category_link.lower() == exoutput.lower() %}
            <a class="nav-link disabled" href={{ url_for('index', chatstring=category_link.lower()) }}>
                <span class="green_color">{{ category_link.upper() }}</span></a>
          {% else %}
            <a class="nav-link" href={{ url_for('index', chatstring=category_link.lower()) }}>{{ category_link }}</a>
          {% endif %}
        </li>
        {% endfor %}
    </ul>
  </div>
    <div>
        {% if form_login %}
            {% if current_user.is_authenticated %}
                {{ current_user.nickname }}
            {% else %}
                <form method="POST" novalidate>
                    {{ form_login.hidden_tag() }}
                    <div class="row">
                        <div class="col">
                            {{ form_login.nickname(size=30, class="form-control form-control-sm", placeholder="Никнейм") }}
                                {% for error in form_login.nickname.errors %}
                                    <span style="color: #ff0000;">{{ error }}</span>
                                {% endfor %}
                        </div>
                        <div class="col">
                            {{ form_login.password(size=30, class="form-control form-control-sm", placeholder="Пароль") }}
                                {% for error in form_login.nickname.errors %}
                                    <span style="color: #ff0000;">{{ error }}</span>
                                {% endfor %}
                        </div>
                        <div class="col">
                            {{ form_login.submit(class="btn btn-primary btn-sm") }}
                        </div>
                        <div class="col">
                            <a href="{{ url_for('singin') }}">Регистрация</a>
                        </div>
                    </div>
                </form>

            {% endif %}
        {% endif %}
    </div>
</nav>
