{# Отдельная запаись #}

<div class="col mb-4 text-center">

    {% if link.img_src %}
        <img class="card-img-top" src="{{resized_img_src(link.img_src, width=220)}}" alt="{{ link.name }}">
    {% else %}
        {% set image_default = ['output\default_dog.jpg', 'output\default-cat-2.jpg', 'output\default-dog-2.jpg', 'output\default-dog-3.jpg']|random() %}

        <img class="card-img-top" src="{{resized_img_src(image_default, width=300)}}" alt="{{ link.name }}">
    {% endif %}

    <div class="card-body">
        <p class="card-text">{% if link.lang != 'ru' %}<em>{{ link.lang }} </em>{% endif %}<a href="{{ link.url }}">{{ link.name }}</a></p>
        <!-- <p class="card-text text-right"><small class="text-muted">{{ link.date.strftime('%d.%m.%Y') }}</small></p> -->
    </div>

</div>


