{# Отдельная запаись #}

<div class="col mb-4 text-center">

    {% if link.img_url %}

        <img class="card-img-top" src="{{ url_for('load_screen', filename=link.img_url) }}" alt="{{ link.name }}">

    {% else %}

        {% set image_default = ['img/output/default_dog.jpg', 'img/output/default-cat-2.jpg', 'img/output/default-dog-2.jpg', 'img/output/default-dog-3.jpg']|random() %}
        <img class="card-img-top" src="{{ url_for('static', filename=image_default) }}" alt="{{ link.name }}">

    {% endif %}

    <div class="card-body">
        <h5 class="card-title text-right">{% if link.lang != 'ru' %}<small class="text-muted">{{ link.lang }}</small>{% endif %}</h5>
        <p class="card-text"><a href="{{ link.url }}">{{ link.name }}</a></p>
    </div>

</div>
